body {
  font: 12px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body.theme-white {
  background-color: #ffffff;
  color: #000000;
}
body.theme-black {
  background-color: #000000;
  color: #ffffff;
}

.leaflet-bar .easy-button-button.active-active,
.leaflet-bar .easy-button-button.active-active:hover {
  color: #ffffff;
  background-color: #24b835;
  border-bottom: 1px solid #999;
}
.mode-active {
  color: #ffffff;
  background-color: #24b835;
}

.ui-dialog {
  z-index: 10000 !important ;
}

.ui-dialog .validateTips {
  float: right;
  padding: 0px;
  margin: 0px;
}
.ui-dialog label,
.ui-dialog input {
  display: block;
}
.ui-dialog input.text {
  width: 95%;
  padding: 0.4em;
  margin-bottom: 12px;
}
.ui-dialog fieldset {
  padding: 0;
  border: 0;
  margin-top: 25px;
}
.ui-dialog .ui-dialog .ui-state-error {
  padding: 0.3em;
}

ul.legend {
  padding: 0px 0px 0px 10px;
  margin: 0px;
  border-left-style: solid;
  border-left-width: 5px;
  list-style: none;
}

ul.legend.red {
  border-left-color: #d63e2a;
}
ul.legend.orange {
  border-left-color: #f59630;
}
ul.legend.green {
  border-left-color: #72b026;
}
ul.legend.blue {
  border-left-color: #38aadd;
}
ul.legend.purple {
  border-left-color: #d252b9;
}
ul.legend.darkred {
  border-left-color: #a23336;
}
ul.legend.darkblue {
  border-left-color: #0067a3;
}
ul.legend.darkgreen {
  border-left-color: #728224;
}
ul.legend.darkpurple {
  border-left-color: #5b396b;
}
ul.legend.cadetblue {
  border-left-color: #436978;
}
ul.legend.lightred {
  border-left-color: #ff8e7f;
}
ul.legend.beige {
  border-left-color: #ffcb92;
}
ul.legend.lightgreen {
  border-left-color: #bbf970;
}
ul.legend.lightblue {
  border-left-color: #8adaff;
}
ul.legend.pink {
  border-left-color: #ff91ea;
}
ul.legend.white {
  border-left-color: #fbfbfb;
}
ul.legend.lightgray {
  border-left-color: #a3a3a3;
}
ul.legend.gray {
  border-left-color: #575757;
}
ul.legend.black {
  border-left-color: #303030;
}

.shepherd,
.drop-element {
  z-index: 1000;
}
.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button {
  background: #24b835;
  transition: background 0.2s ease-out;
}
.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button:hover {
  background: #27cc3a;
  transition: background 0.3s ease-in;
}

#map {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 150px;
}
.data {
  display: none;
  position: absolute;
  overflow: hidden;
  height: 150px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
}
.theme-white .data {
  color: #000000;
  background-color: #ffffff;
}
.theme-dark .data {
  color: #ffffff;
  background-color: #000000;

}
#data.data,
#data-empty.data {
  display: block;
}
.data-computing-progressbar-container {
  width: 400px;
  height: 3px;
  background-color: grey;
  margin: 0px auto;
}
.data-computing-progressbar {
  height: 100%;
  width: 0%;
  background-color: #24b835;
}

#version {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.columns-2 {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  list-style-position: inside;
}
