body {
  font: 12px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#map {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 150px;
}

#chart {
  display: block;
  position: absolute;
  overflow: hidden;
  height: 150px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
}

#version {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.columns-2 {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  list-style-position: inside;
}
